body {
  background: linear-gradient(
    109.6deg,
    rgb(27, 27, 79) 11.2%,
    rgb(120, 201, 244) 100.2%
  );
  text-align: center;
  font-family: "Bitter", serif;
}
h1 {
  margin-top: 80px;
  color: rgb(10, 8, 131);
  padding-top: 10px;
  line-height: 1.5;
  font-size: 40px;
}
.emoji {
  font-size: 30px;
  margin-bottom: 5px;
  text-align: center;
}
header {
  background: #fafaf3;
  border-radius: 8px;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(7, 7, 7, 0.2);
}
main {
  background: #fafaf3;
  border-radius: 8px;
  color: #2b4450;
  padding-bottom: 25px;
  max-width: 600px;
  border-left: 10px solid #393e46;
  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(7, 7, 7, 0.2);
  display: none;
}
form {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  margin-left: 70px;
  justify-content: center;
}
.type {
  font-size: 15px;
  padding: 15px;
  width: 30%;
  border: black;
  border-radius: 10px;
  line-height: 12px;
}
.click {
  padding: 10px;
  background: #0e5274;
  color: white;
  border: none;
  width: 90px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 20px;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.poem {
  padding: 20px;
  text-align: center;

  line-height: 1.5;
  font-size: 19px;
}
footer {
  margin-top: 500px;
  font-size: 15px;

  color: black;
}
@media (max-width: 800px) {
  header {
    margin: 32px;
  }
  h1 {
    font-size: 32px;
  }

  .emoji {
    font-size: 20px;
  }
  .poem {
    font-size: 15px;
  }
}
